<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    
    <form action="/login" method="post">
        <h1 class="heading">Log In !</h1>
        <input type="text" name="username" id="username-input" placeholder="username" required>
        <div class="form-group">
            <input type="password" name="password" id="password-input" placeholder="password" required>
            <span class="password-toggle" onclick="togglePassword()"><i class='bx bx-show'></i></span>
        </div>
        <button id="submit-button" type="submit">Log In</button>
    </form>
    <p><a href="/signup">Don't have an account?</a></p>
    <%- include('./partials/footer.ejs') %>
    
    <script>
        function togglePassword() {
            const passwordInput = document.getElementById('password-input');
            const passwordToggle = document.querySelector('.form-group i');

            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                passwordToggle.classList.add('bx-hide');
                passwordToggle.classList.remove('bx-show');
            } else {
                passwordInput.type = 'password';
                passwordToggle.classList.add('bx-show');
                passwordToggle.classList.remove('bx-hide');
            }
        }
    </script>
</body>
</html>